header {
    height: 140px;
    width: 100%;
    z-index: 2;
    position: relative;

}
a,
button {
    position: relative;
    z-index: 2;
    cursor: pointer;
}
header .logo img {
    width: auto;
    height: 180px;
}header .logo {
    width: 14.5%;
}

header .background {
    min-height: 100%; 
        background: url(../img/index/fon-top.png) no-repeat top center;
}
.blog_text {
    font-family: Roboto;
    font-size: 18px;
    line-height: 23px;
    color: #666362;
}
.information {
    margin-left: 30px;

    margin-top: 35px;
}
main {
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 100px;
}
main h2.content-form__title {
    width: 100%;
    text-align: left;
}
main .cell:first-child {
    margin-top: 25px;
}
main .cell:last-child {
    margin-bottom: 100px;
}
main .cell {
    margin-top: 50px;
}
main a {
    color: #E5D019;
}
main a:hover {
    color: #FF0008; 
}
main a:hover path {
    fill:#FF0008;
}
main a path {
    fill:#DEC600;
}

main span{
    color: #9E9EAA;
}
main .col-xl-8 a {
    text-transform: uppercase;
}
main .col-xl-8 span{
    margin-right: 20px;
}
main .diveder{
    width: 1px;
    height: 34px;
    background-color: #C4C4C4;
    display: inline-block;
    margin-right: 20px
}
main .date{
    display: flex;
    align-items: center;
}
main .col-xl-8  {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;
}
main .col-xl-8 img {
    width: auto;
}
main img {
    width: 100%;
}
main button {
    width: 80%;
    height: 60px;
    text-transform: uppercase;
    background: #FF0008;
    border-radius: 30px;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 100px;
    border: none;

}
main button:hover {
    background-color: #E5D011;
}
main button img {
    width: auto;
    margin-top: -3px;
}
footer .color{
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
    background: -webkit-linear-gradient(187deg, #FFE712 0.49%, #FFED4F 100%);
    background: -o-linear-gradient(187deg, #FFE712 0.49%, #FFED4F 100%);
    background: linear-gradient(187deg, #FFE712 0.49%, #FFED4F 100%);
}

    /*BLOG_PAGE*/
.blog-page img {
    width: 100%;
}
.blog-page p {
    font-size: 18px;
    line-height: 30px;
    color: #666362;
}
.blog-page .content h2 {
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
}
.blog-page .date {
    margin-top: 40px;
}
.blog-page .content {
    margin-top: 25px;
    margin-bottom: 100px;
}
.blog-page .content div {
    margin-bottom: 50px;
}
.facebook {
    position: fixed;
    cursor: pointer;
}
.facebook div {
    animation: anim 2.4s linear infinite;
    /*animation: anim 2s inline infinite;*/
}

@keyframes anim {
  0%, 100% {
    -webkit-transform: scale(0.95);
       -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
         -o-transform: scale(0.95);
            transform: scale(0.95);
  }
  50% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}

.facebook,
.facebook div {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;

}
.facebook div {
    /*transition: all 2s;*/
}
.facebook > div div{
    border-radius: 100px;
    border: 2px solid #DEC600;
}
.facebook:hover > div div{
    border-color: #FF0008;
}
.facebook > div > div {
    width: 95px;
    height: 95px;
}
.facebook > div > div > div {
    width: 67px;
    height: 67px;
}
.facebook img {
    width: auto;
}
.facebook p {
    margin-top: 50px;
    transform: rotate(270deg);
    color: #000;

}

@media only screen and (max-width: 1440px) {
    main button {
        margin-bottom: 80px;
    }
    .blog-page .content h2 {
        font-size: 33px;
        line-height: 40px;
    }

}
@media only screen and (max-width: 1300px) {
    header .logo {
        width: 14%;
        display: block;
    }

}
@media only screen and (max-width: 1280px) {
    header .logo img {
        width: auto;
        height: 160px;
    }
    .blog-page p {
        line-height: 28px;
        font-size: 17px;
    }
    .blog-page .content h2 {
        font-size: 30px;
        line-height: 35px;
    }
    .blog-page .content div {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 992px) {
    header .logo {
        width: 21%;
        display: block;
    }
        .blog-page p {
        line-height: 26px;
        font-size: 16px;
    }
    .blog-page .content h2 {
        font-size: 26px;
        line-height: 30px;
    }
    .blog-page .content div {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .container {
        max-width: 95%;
    }
    main button {
        font-size: 16px;
        line-height: 20px;
    }
    .blog-page p {
        font-size: 15px;
        line-height: 24px;
    }
    .blog-page .content h2 {
        font-size: 23px;
        line-height: 25px;
    }
}

@media only screen and (max-width: 500px) {
    main .cell:last-child {
        margin-bottom: 50px;
    }
    header .col-12 {
        padding: 0;
    }
    header .logo img {
    width: auto;
    height: 150px;
    }
    .container {
        max-width: 90%;
    }
    main .date {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
    }
        main button {
            width: 100%;
            margin-bottom: 0px;
            font-size:14px;
    }
    .information {
        justify-content: center;
        margin-top: 0;
    }
    .blog-page .content {
        margin-bottom: 30px;
    }
}